.project {
    position: relative;
    height: auto;
    overflow-y: hidden;
}

.project .header-project {
    display: flex;
    flex-direction: column;
    padding: 0 var(--left-right-margin) 0;
    position: relative;
    height: 100%;
}

@media (max-width: 74.99em) {
    .project .header-project {
        padding: 0;
    }
}

@media (max-width: 47.99em) {
    .project .header-project {
        padding: var(--top-margin) var(--left-right-margin) 0;
    }
}

.project .header-project .hero-image-wrapper {
    width: 100%;
    height: calc(var(--innerVh, 1vh) * 75);
    position: relative;
}

@media (max-width: 47.99em) {
    .project .header-project .hero-image-wrapper {
        padding-top: 75%;
        height: auto;
    }
}

@media (max-width: 61.99em) and (orientation: portrait) {
    .project .header-project .hero-image-wrapper {
        padding-top: 75%;
        height: auto;
    }
}

.project .header-project .hero-image-wrapper .hero-image {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width: 47.99em) {
    .project .header-project .hero-image-wrapper .hero-image {
        border-radius: var(--border-radius);
    }
}

.project .project-title {
    color: var(--color);
    margin: calc(var(--top-internal-margin) * 2) var(--left-right-margin) 0;
}

.project .project-intro {
    display: flex;
    justify-content: space-between;
    margin: var(--top-internal-margin) var(--left-right-margin)
        var(--top-internal-margin);
}

@media (max-width: 47.99em) {
    .project .project-intro {
        flex-direction: column;
    }
}

.project .project-intro .project-data {
    width: 50%;
    padding-right: var(--left-right-internal-margin);
}

@media (max-width: 47.99em) {
    .project .project-intro .project-data {
        width: 100%;
        padding-right: 0;
    }
}

.project .project-intro .project-data h6 {
    color: var(--color);
    padding-right: var(--left-right-internal-margin);
    text-overflow: ellipsis;
    overflow-x: clip;
}

.project .project-intro .project-description {
    width: 50%;
    padding-left: var(--left-right-internal-margin);
}

@media (max-width: 47.99em) {
    .project .project-intro .project-description {
        width: 100%;
        padding-left: 0;
    }
}

.project .project-intro .project-description .project-website {
    margin-top: var(--top-internal-margin);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.project .project-content {
    font-size: 1.2rem;
    padding: 0 var(--left-right-margin) 0;
}

@media (max-width: 61.99em) {
    .project .project-content {
        font-size: 1rem;
    }
}

.project .project-content h6 {
    font-variation-settings: "wght" 800, "wdth" 100;
    margin: calc(var(--top-internal-margin) * 2) 0
        calc(var(--top-internal-margin) / 2);
    text-align: center;
}

.project .project-content p {
    text-align: center;
}

.project .project-content p .link-wrapper {
    margin: var(--top-internal-margin) auto;
}

.project .project-content-wrapper {
    margin-bottom: var(--top-internal-margin);
    display: flex;
    box-shadow: 0 0 20px rgba(96, 104, 135, 0.25);
}

body.dark .project .project-content-wrapper {
    margin-bottom: var(--top-internal-margin);
    display: flex;
    box-shadow: 0 0 20px rgba(194, 194, 194, 0.25);
}

.project .project-content-wrapper:last-of-type {
    margin-bottom: 0;
}

.project .project-content-image {
    border-radius: var(--border-radius-content);
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.project .next-project {
    padding: 0 var(--left-right-margin) 0;
    width: 100%;
}

.project .next-project hr {
    margin-top: var(--top-internal-margin);
}

.project .next-project .next-project-wrapper {
    padding: var(--top-internal-margin) 0 var(--top-internal-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project .next-project .next-project-wrapper .next-project-left {
    width: 50%;
    padding-right: var(--left-right-internal-margin);
}

.project
    .next-project
    .next-project-wrapper
    .next-project-left
    .next-project-selected-wrapper {
    position: absolute;
    overflow: hidden;
}

.project
    .next-project
    .next-project-wrapper
    .next-project-left
    .next-project-selected-wrapper
    .next-project-selected {
    padding-right: 12px;
    position: relative;
}

.project .next-project .next-project-wrapper .next-project-right {
    width: 50%;
    padding-left: var(--left-right-internal-margin);
    text-align: right;
}

body.dark .project .project-intro .project-data h6,
body.dark .project .project-title {
    color: var(--color);
}

body.dark .project-content-wrapper {
    box-shadow: none;
}


.project .desktop-images {
    display: none;
}

.project .mobile-images {
    display: block;
}

@media screen and (min-width: 30em) {
    .project .desktop-images {
        display: block;
    }
    
    .project .mobile-images {
        display: none;
    }
}