.headerContent {
  z-index: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 88px 0 96px;
}

@media (min-width: 36em) and (max-width: 61.99em) {
  .headerContent {
    padding: 0 43px 0 48px;
  }
}

@media (max-width: 35.99em) {
  .headerContent {
    padding: 0 19px 0 24px;
  }
}

.headerContent ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.headerContent ul li {
  line-height: 0;
  display: block;
}

.leftPart,
.rightPart {
  pointer-events: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: inherit;
}

.logo {
  margin-right: 24px;
}

.rightPart ul li {
  margin-left: 24px;
}
