@font-face {
    font-family: studiofeixen-variable;
    src: url(/fonts/studio-feixen-sans-variable.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen;
    src: url(/fonts/StudioFeixenSans-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen;
    src: url(/fonts/StudioFeixenSans-Book.woff2) format("woff2");
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen;
    src: url(/fonts/StudioFeixenSans-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen;
    src: url(/fonts/StudioFeixenSans-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen-writer;
    src: url(/fonts/StudioFeixenSansWriter-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}