@font-face {
    font-family: geomanist;
    src: url(/fonts/geomanist-bold-webfont.woff) format("woff");
    font-style: bold;
}

@font-face {
    font-family: studiofeixen-variable;
    src: url(/fonts/studio-feixen-sans-variable.woff2) format("woff2"),
        url(/fonts/studio-feixen-sans-variable.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen;
    src: url(/fonts/StudioFeixenSans-Bold.eot) format("embedded-opentype"),
        url(/fonts/StudioFeixenSans-Bold.woff2) format("woff2"),
        url(/fonts/StudioFeixenSans-Bold.woff) format("woff"),
        url(/fonts/StudioFeixenSans-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen;
    src: url(/fonts/StudioFeixenSans-Book.eot) format("embedded-opentype"),
        url(/fonts/StudioFeixenSans-Book.woff2) format("woff2"),
        url(/fonts/StudioFeixenSans-Book.woff) format("woff"),
        url(/fonts/StudioFeixenSans-Book.ttf) format("truetype");
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen;
    src: url(/fonts/StudioFeixenSans-Medium.eot) format("embedded-opentype"),
        url(/fonts/StudioFeixenSans-Medium.woff2) format("woff2"),
        url(/fonts/StudioFeixenSans-Medium.woff) format("woff"),
        url(/fonts/StudioFeixenSans-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen;
    src: url(/fonts/StudioFeixenSans-Regular.eot) format("embedded-opentype"),
        url(/fonts/StudioFeixenSans-Regular.woff2) format("woff2"),
        url(/fonts/StudioFeixenSans-Regular.woff) format("woff"),
        url(/fonts/StudioFeixenSans-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: studiofeixen-writer;
    src: url(/fonts/StudioFeixenSansWriter-Regular.eot)
            format("embedded-opentype"),
        url(/fonts/StudioFeixenSansWriter-Regular.woff2) format("woff2"),
        url(/fonts/StudioFeixenSansWriter-Regular.woff) format("woff"),
        url(/fonts/StudioFeixenSansWriter-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

::-moz-selection {
    background-color: #78ffd1;
    color: #606887;
    -webkit-text-stroke: 0;
}

::selection {
    background-color: #78ffd1;
    color: #606887;
    -webkit-text-stroke: 0;
}

:root {
    --left-right-margin: 240px;
    --left-right-internal-margin: 24px;
    --top-margin: 240px;
    --top-margin-mobile: 40vh;
    --top-internal-margin: 24px;
    --border-radius: 48px;
    --border: 2px;
    --border-radius-content: 0;
}

@media (min-width: 62em) and (max-width: 74.99em) {
    :root {
        --left-right-margin: 96px;
    }
}

@media (min-width: 36em) and (max-width: 61.99em) {
    :root {
        --left-right-margin: 48px;
        --top-margin: 132px;
        --border: 1.5px;
        --border-radius: 24px;
    }
}

@media (max-width: 35.99em) {
    :root {
        --left-right-margin: 24px;
        --top-margin: 84px;
        --border: 1.5px;
        --border-radius: 24px;
    }
}

/* color mode */

html[data-theme="light"] {
    --background-color: #f3f2f9;
    --color: #606887;
}

html[data-theme="dark"] {
    --background-color: #2b2b33;
    --color: #f3f2f9;
}

body.dark ::-moz-selection {
    background-color: #606887;
    color: #f3f2f9;
}

body.dark ::selection {
    background-color: #606887;
    color: #f3f2f9;
}

body.dark .icons-style {
    stroke: #f3f2f9;
}

body.dark hr {
    border-top: var(--border) solid #f3f2f9;
}

/* end color mode */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-variation-settings: "wght" 500, "wdth" 100;
    font-family: studiofeixen-variable, studiofeixen, Arial, Helvetica,
        sans-serif;
    letter-spacing: -0.015em;
    font-weight: unset;
    font-size: 1em;
    transition: 0.25s;

    background-color: var(--background-color);
    color: var(--color);
}

/* -------- Typography ------- */

h1 {
    text-transform: uppercase;
    font-variation-settings: "wght" 800, "wdth" 125;
    font-size: 4.5rem;
}

@media (max-width: 61.99em) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 35.99em) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    text-transform: uppercase;
    font-variation-settings: "wght" 800, "wdth" 125;
    font-size: 3rem;
}

@media (max-width: 35.99em) {
    h2 {
        font-size: 2.5rem;
    }
}

h3 {
    text-transform: uppercase;
    font-variation-settings: "wght" 800, "wdth" 125;
    font-size: 2.5rem;
}

@media (max-width: 61.99em) {
    h3 {
        font-size: 1.5rem;
    }
}

h4 {
    text-transform: lowercase;
    font-size: 1.5rem;
    font-variation-settings: "wght" 800, "wdth" 125;
}

@media (max-width: 35.99em) {
    h4 {
        font-size: 1rem;
    }
}

h5 {
    text-transform: lowercase;
    font-variation-settings: "wght" 500, "wdth" 125;
    font-size: 1.5rem;
}

@media (max-width: 35.99em) {
    h5 {
        font-size: 1rem;
    }
}

h6 {
    text-transform: uppercase;
    font-variation-settings: "wght" 800, "wdth" 125;
    font-size: 1.25rem;
}

@media (max-width: 61.99em) {
    h6 {
        font-size: 1rem;
    }
}

p {
    font-size: 1.25rem;
    margin: 0;
    font-variation-settings: "wght" 500, "wdth" 100;
    text-transform: none;
}

@media (max-width: 61.99em) {
    p {
        font-size: 1rem;
    }
}

/* links style */

a {
    font-size: 1.25rem;
    font-variation-settings: "wght" 500, "wdth" 125;
    color: var(--color);
    text-decoration: none;
}

@media (max-width: 61.99em) {
    a {
        font-size: 1rem;
    }
}

.link-underline::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color);
    position: relative;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.5s ease;
    transform-origin: left bottom;
}

.link-underline:hover::after {
    transform: scaleX(1);
}

.link-wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow-x: hidden;
}

.link-wrapper .link {
    width: auto;
    margin-bottom: 3px;
    white-space: nowrap;
}

/* end links style */

iframe {
    border-radius: var(--border-radius);
}

.icons-style {
    opacity: 1;
    fill: none;
    stroke: #606887;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    display: block;
    cursor: pointer;
}

@media (max-width: 61.99em) {
    .mini-icons {
        stroke-width: 1.5px;
    }
}

hr {
    border-style: none;
    border-bottom: 0;
    border-top: var(--border) solid #606887;
}

ol,
ul {
    list-style: none;
}

li {
    font-size: 1.25rem;
}

@media (max-width: 61.99em) {
    li {
        font-size: 1rem;
    }

    table {
        width: 100%;
        table-layout: fixed;
        margin-bottom: var(--top-internal-margin);
    }
}

table td {
    vertical-align: top;
    padding: 0 var(--left-right-internal-margin) var(--top-internal-margin) 0;
}

@media (max-width: 61.99em) {
    table td {
        padding: 0 0 var(--top-internal-margin) 0;
    }
}

table td h6 {
    padding-right: var(--left-right-internal-margin);
    text-overflow: ellipsis;
    overflow-x: clip;
}

table tr:last-child td {
    vertical-align: top;
    padding: 0 var(--left-right-internal-margin) 0 0;
}

@media (max-width: 61.99em) {
    table tr:last-child td {
        padding: 0;
    }
}

/* Layout */

.container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

.container .page-content {
    height: 100%;
    width: 100%;
}

@media (max-width: 47.99em) {
    .container .page-content {
        height: auto;
    }
}

.page-head {
    display: flex;
    align-items: baseline;
}

.page-head .page-title {
    width: 100%;
    text-align: left;
    margin: 0;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

@media (min-width: 36em) and (max-width: 61.99em) {
    .page-head .page-title {
        font-size: 3rem;
    }
}

@media (max-width: 35.99em) {
    .page-head .page-title {
        font-size: 2rem;
    }
}

.page-head .elements-number {
    font-family: studiofeixen-writer, studiofeixen, Arial, Helvetica, sans-serif;
    letter-spacing: -0.1em;
}

.head-separator {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 0;
}

/* cursor */
.cursor,
.cursor-dot {
    position: fixed;
    pointer-events: none;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    -webkit-animation: 0.1s;
    animation: 0.1s;
    overflow: hidden;
}

.cursor {
    width: 24px;
    height: 24px;
    background-color: #606887;
    border-color: #606887;
    mix-blend-mode: multiply;
}

.cursor body.dark {
    background-color: #f3f2f9;
    border-color: #f3f2f9;
    mix-blend-mode: difference;
}

.cursor-dot {
    width: 4px;
    height: 4px;
    background-color: #606887;
    -webkit-animation: 0.4s linear;
    animation: 0.4s linear;
    mix-blend-mode: multiply;
}

.cursor-dot .body.dark,
body.dark .cursor {
    background-color: #f3f2f9;
    mix-blend-mode: difference;
}

body.dark .cursor {
    border-color: #f3f2f9;
}

body.dark .cursor-dot {
    background-color: #f3f2f9;
    mix-blend-mode: difference;
}

/* nprogress bar */

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #606887;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 0 4px 4px 0;
}

body.dark #nprogress .bar {
    background: #f3f2f9;
}

header {
    pointer-events: none;
    mix-blend-mode: multiply;
    position: fixed;
    z-index: 5;
    top: 96px;
    left: 0;
    right: 0;
}

@media (min-width: 36em) and (max-width: 61.99em) {
    header {
        top: 48px;
    }
}

@media (max-width: 35.99em) {
    header {
        top: 24px;
    }
}

body.dark header {
    mix-blend-mode: difference;
}

footer {
    padding: 0 var(--left-right-margin) 0;
    width: 100%;
}

footer hr {
    margin-top: var(--top-margin);
}

footer .footer-wrapper {
    padding: var(--top-internal-margin) 0 var(--top-internal-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .footer-wrapper .footer-right {
    text-align: right;
}

.links {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: 0 auto;
}

@media (max-width: 61.99em) {
    .links {
        max-width: calc(100% - var(--left-right-margin) * 2);
    }
}

.links .links-logo {
    position: fixed;
    align-self: center;
    margin: 96px 0 0;
}

@media (max-width: 74.99em) {
    .links .links-logo {
        margin: 96px 0 0;
    }
}

@media (min-width: 36em) and (max-width: 61.99em) {
    .links .links-logo {
        margin: 48px 0 0;
    }
}

@media (max-width: 35.99em) {
    .links .links-logo {
        margin: 24px 0 0;
    }
}

.links .links-content {
    margin: var(--top-margin) 0 0;
}

@media (max-width: 47.99em) {
    .links .links-content {
        margin: calc(var(--innerVh, 1vh) * 40) 0 0;
    }
}

@media (max-width: 61.99em) and (orientation: portrait) {
    .links .links-content {
        margin: calc(var(--innerVh, 1vh) * 40) 0 0;
    }
}

.links .links-content ul li:last-child .link-row {
    border-bottom: none !important;
}

.links .links-content .link-row {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: var(--border) solid #606887;
}

.links .links-content .link-row .link-selected-wrapper {
    position: absolute;
    overflow: hidden;
}

.links .links-content .link-row .link-selected-wrapper .link-selected {
    padding-right: 12px;
    position: relative;
}

.links .links-content .link-row .link-title {
    margin-right: var(--left-right-internal-margin);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

body.dark .links .link-row {
    border-bottom: var(--border) solid #f3f2f9;
}

.error-container {
    padding: 0 var(--left-right-margin) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.error-container .error-code {
    font-size: 12rem;
    font-family: studiofeixen;
    font-weight: 800;
    -webkit-text-stroke: 2px #606887;
    color: transparent;
}

@media (max-width: 74.99em) {
    .error-container .error-code {
        font-size: 6rem;
    }
}

@media (max-width: 61.99em) {
    .error-container .error-code {
        -webkit-text-stroke: 1.25px #606887;
        font-size: 3rem;
    }
}

.error-container a {
    margin-top: var(--top-internal-margin);
}

body.dark .error-container .error-code {
    -webkit-text-stroke: 2px #f3f2f9;
}

@media (min-width: 62em) {
    body.dark .error-container .error-code {
        -webkit-text-stroke: 1.25px #f3f2f9;
    }
}
