@import "./utils/utils";
@import "./pages/pages";
@import "./components/components";

:root {
    --left-right-margin: 240px;
    --left-right-internal-margin: 24px;
    --top-margin: 240px;
    --top-margin-mobile: 40vh;
    --top-internal-margin: 24px;
    --border-radius: 48px;
    --border: 2px;
    --border-radius-content: 0;
}

@media (min-width: 62em) and (max-width: 74.99em) {
    :root {
        --left-right-margin: 96px;
    }
}

@media (min-width: 36em) and (max-width: 61.99em) {
    :root {
        --left-right-margin: 48px;
        --top-margin: 132px;
        --border: 1.5px;
        --border-radius: 24px;
    }
}

@media (max-width: 35.99em) {
    :root {
        --left-right-margin: 24px;
        --top-margin: 84px;
        --border: 1.5px;
        --border-radius: 24px;
    }
}

::-moz-selection {
    background-color: var(--selection-color);
    -webkit-text-stroke: 0;
}

::selection {
    background-color: var(--selection-color);
    -webkit-text-stroke: 0;
}

body.dark .icons-style {
    stroke: var(--color);
}

body.dark hr {
    border-top: var(--border) solid var(--color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-variation-settings: "wght" 500, "wdth" 100;
    font-family: studiofeixen-variable, studiofeixen, Arial, Helvetica,
        sans-serif;
    letter-spacing: -0.015em;
    font-weight: unset;
    font-size: 1em;
    transition: 0.25s;

    background-color: var(--background-color);
    color: var(--color);
}

/* -------- Typography ------- */

h1 {
    text-transform: uppercase;
    font-variation-settings: "wght" 800, "wdth" 125;
    font-size: 4.5rem;
}

@media (max-width: 61.99em) {
    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 35.99em) {
    h1 {
        font-size: 2.5rem;
    }
}

h2 {
    text-transform: uppercase;
    font-variation-settings: "wght" 800, "wdth" 125;
    font-size: 3rem;
}

@media (max-width: 35.99em) {
    h2 {
        font-size: 2.5rem;
    }
}

h3 {
    text-transform: uppercase;
    font-variation-settings: "wght" 800, "wdth" 125;
    font-size: 2.5rem;
}

@media (max-width: 61.99em) {
    h3 {
        font-size: 1.5rem;
    }
}

h4 {
    text-transform: lowercase;
    font-size: 1.5rem;
    font-variation-settings: "wght" 800, "wdth" 125;
}

@media (max-width: 35.99em) {
    h4 {
        font-size: 1rem;
    }
}

h5 {
    text-transform: lowercase;
    font-variation-settings: "wght" 500, "wdth" 125;
    font-size: 1.5rem;
}

@media (max-width: 35.99em) {
    h5 {
        font-size: 1rem;
    }
}

h6 {
    text-transform: uppercase;
    font-variation-settings: "wght" 800, "wdth" 125;
    font-size: 1.25rem;
}

@media (max-width: 61.99em) {
    h6 {
        font-size: 1rem;
    }
}

p {
    font-size: 1.25rem;
    margin: 0;
    font-variation-settings: "wght" 500, "wdth" 100;
    text-transform: none;
}

@media (max-width: 61.99em) {
    p {
        font-size: 1rem;
    }
}

a {
    font-size: 1.25rem;
    font-variation-settings: "wght" 500, "wdth" 125;
    color: var(--color);
    text-decoration: none;
}

@media (max-width: 61.99em) {
    a {
        font-size: 1rem;
    }
}

.icons-style {
    opacity: 1;
    fill: none;
    stroke: var(--color);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    display: block;
    cursor: pointer;
}

@media (max-width: 61.99em) {
    .mini-icons {
        stroke-width: 1.5px;
    }
}

hr {
    border-style: none;
    border-bottom: 0;
    border-top: var(--border) solid var(--color);
}

ol,
ul {
    list-style: none;
}

li {
    font-size: 1.25rem;
}

@media (max-width: 61.99em) {
    li {
        font-size: 1rem;
    }

    table {
        width: 100%;
        table-layout: fixed;
        margin-bottom: var(--top-internal-margin);
    }
}

table td {
    vertical-align: top;
    padding: 0 var(--left-right-internal-margin) var(--top-internal-margin) 0;
}

@media (max-width: 61.99em) {
    table td {
        padding: 0 0 var(--top-internal-margin) 0;
    }
}

table td h6 {
    padding-right: var(--left-right-internal-margin);
    text-overflow: ellipsis;
    overflow-x: clip;
}

table tr:last-child td {
    vertical-align: top;
    padding: 0 var(--left-right-internal-margin) 0 0;
}

@media (max-width: 61.99em) {
    table tr:last-child td {
        padding: 0;
    }
}

.container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

.container .page-content {
    height: 100%;
    width: 100%;
}

@media (max-width: 47.99em) {
    .container .page-content {
        height: auto;
    }
}

.links {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: 0 auto;
}

@media (max-width: 61.99em) {
    .links {
        max-width: calc(100% - var(--left-right-margin) * 2);
    }
}

.links .links-logo {
    position: fixed;
    align-self: center;
    margin: 96px 0 0;
}

@media (max-width: 74.99em) {
    .links .links-logo {
        margin: 96px 0 0;
    }
}

@media (min-width: 36em) and (max-width: 61.99em) {
    .links .links-logo {
        margin: 48px 0 0;
    }
}

@media (max-width: 35.99em) {
    .links .links-logo {
        margin: 24px 0 0;
    }
}

.links .links-content {
    margin: var(--top-margin) 0 0;
}

@media (max-width: 47.99em) {
    .links .links-content {
        margin: calc(var(--innerVh, 1vh) * 40) 0 0;
    }
}

@media (max-width: 61.99em) and (orientation: portrait) {
    .links .links-content {
        margin: calc(var(--innerVh, 1vh) * 40) 0 0;
    }
}

.links .links-content ul li:last-child .link-row {
    border-bottom: none !important;
}

.links .links-content .link-row {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: var(--border) solid var(--color);
}

.links .links-content .link-row .link-selected-wrapper {
    position: absolute;
    overflow: hidden;
}

.links .links-content .link-row .link-selected-wrapper .link-selected {
    padding-right: 12px;
    position: relative;
}

.links .links-content .link-row .link-title {
    margin-right: var(--left-right-internal-margin);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.link-underline::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--color);
    position: relative;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: all 0.5s ease;
    transform-origin: left bottom;
}

.link-underline:hover::after {
    transform: scaleX(1);
}

.link-wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    overflow-x: hidden;
}

.link-wrapper .link {
    width: auto;
    margin-bottom: 3px;
    white-space: nowrap;
}

body.dark .links .link-row {
    border-bottom: var(--border) solid var(--color);
}
