.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 .home .content {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding: 1em calc(.5em + 4vw);
  } 

  .home .wrapper {
    overflow: hidden;
  }
  
  .home .main-title {
    font-size: clamp(1rem, .75rem + 2.5vw, 6rem);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  @media screen and (min-width: 30em) {
    .home .main-title {
        font-size: clamp(1rem, .75rem + 4vw, 4rem);
      }
  }

  @media screen and (min-width: 50em) {
    .home .main-title {
        font-size: clamp(1rem, 2rem + 4vw, 4rem);
      }
  }
  
  .home .sub-title {
    text-align: center;
    font-size: clamp(1rem, .25rem + 2.5vw, 1.75rem);
    font-weight: normal;
  }

  @media screen and (min-width: 30em) {
    .home .sub-title {
        font-size: clamp(1rem, .25rem + 4vw, 1.75rem);
      }
  }
  
  
  .home .links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
  }

  @media (min-width: 30em) {
    .home .links-wrapper {
      flex-direction: row;
      gap: 3em;
    }
  } 
  
