.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding: 1em calc(.5em + 4vw);
  }
  
  .mainTitle {
    font-size: clamp(1rem, .75rem + 4vw, 6rem);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
  
  .subTitle {
    text-align: center;
    font-size: clamp(0.75rem, .25rem + 4vw, 1.75rem);
    font-weight: normal;
  }
  
  .linksWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
  }

  @media (min-width: 30em) {
    .linksWrapper {
      flex-direction: row;
      gap: 3em;
    }
  }
  
  .wrapper {
    overflow: hidden;
  }
  
  /* end home page */